faicons==0.2.2
matplotlib==3.8.4
numpy==2.0.0
pandas[performance, plot, excel]==2.2.2
plotly==5.22.0
pydantic==2.8.2
scipy==1.14.0
seaborn==0.13.2
setuptools==70.2.0
shiny==0.10.2
shinywidgets==0.3.2
xarray[complete]==2024.5.0
